<div class="rs-popover-wrapper" ng-hide="ctrl.is('closed')">
  <div class="rs-popover-overlay" ng-mouseover="ctrl.hide()"></div>
  <div class="rs-popover">
    <div class="rs-popover-arrow rs-popover-arrow-top-left"></div>
    <div class="rs-popover-content">
      <div class="rs-popover-error" ng-show="ctrl.is('error')">
        <div class="rs-popover-message">{{ ctrl.state.message }}</div>
      </div>
      <div class="rs-popover-loading" ng-show="ctrl.is('loading')">
        <div class="rs-popover-message">{{ ctrl.state.message }}</div>
      </div>
      <div class="rs-popover-body" ng-show="ctrl.is('open')" ng-transclude></div>
    </div>
  </div>
</div>
