<div class="rs-popover-wrapper" ng-show="open">
  <div class="rs-popover-overlay" ng-click="controller.hide()" ng-style="{{ overlay }}"></div>
  <div class="rs-popover">
    <div class="rs-popover-arrow rs-popover-arrow-top-left"></div>
    <div class="rs-popover-content">
      <div class="rs-popover-error" ng-show="error">{{ errorMessage }}</div>
      <div class="rs-popover-loading" ng-show="loading">Loading</div>
      <div ng-hide="loading || error" ng-transclude></div>
    </div>
  </div>
</div>
